REACT_APP_BUILD_DEV = ""
REACT_APP_BUILD_ART = ""
REACT_APP_BUILD_PHOTO = ""

REACT_APP_GIT_USER_NAME = ""
REACT_APP_GIT_REPO_NAME = ""
REACT_APP_GIT_BRANCH_NAME = ""

REACT_APP_DEV_IMAGE_NAME = ""
REACT_APP_ART_IMAGE_NAME = ""
REACT_APP_PHOTO_IMAGE_NAME = ""

REACT_APP_DEV_JSON_NAME = ""
REACT_APP_ART_JSON_NAME = ""
REACT_APP_PHOTO_JSON_NAME = ""