.socialsMainDiv {
    display: flex;
    gap: 1rem;
    width: 100%;
    height: 100%;
}

.div1,
.div2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.div2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5rem;
}

.mainButton,
.button {
    width: 100%;
    height: 100%;
    background-color: var(--blue-secondary);
    color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.mainButton {
    padding: 1rem;
    border-radius: 0.8rem;
}

.button {
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.button:hover,
.mainButton:hover {
    background-color: var(--light-secondary);
}

/* Modal Overlay */
.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.divCloseBtn {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* Modal Content */
.modalContent {
    background-color: white;
    border-radius: 0.5rem;
    width: calc(100% - 5rem);
    max-width: 30rem;
    text-align: center;
}

.pdf {
    margin-bottom: 1rem;
    height: 25rem;
}

/* Close Button */
.closeButton {
    margin: 0.5rem 0.5rem 0.2rem 0;
    background: none;
    border: none;
    cursor: pointer;
}

@media screen and (min-width: 1024px) {
    .pdf {
        height: 40rem;
    }

}