@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
  --light-secondary: #B1E50E;
  --dark: #13141B;
  --lightGreen: #E2FBCE;
  --white: #FFFDEE;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--dark);
  box-sizing: border-box;
  font-family: "Fira Code", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  display: flex;
  justify-content: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  max-width: 30rem;
  width: 100%;
}

.Pages {
  width: 100%;
  max-width: 30rem;
  height: 97vh;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content-wrapper {
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 1rem;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
}

h1 {
  font-size: 22px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 12px;
}

.endText {
  text-align: center;
  font-size: 0.5rem !important;
  color: var(--light-secondary);
  text-decoration: none;
}

/* Style for the entire scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Style for the scrollbar track (background) */
::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 10px;
}

/* Style for the draggable scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
}

@media screen and (min-width: 728px) {
  .App {
    width: 50rem;
  }

  h2 {
    font-size: 30px;
  }

  p {
    font-size: 18px;
  }
}

/* Define the keyframes for the fade-in animation */
@keyframes fadeInEffect {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}