.linksMainDiv {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.link {
    padding: 1.2rem;
    border-radius: 0.8rem;
    color: var(--dark-secondary);
    background-color: var(--white);
    text-decoration: none;
    font-size: large;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}